{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="p-5 bg-light" role="main">
    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                <div class="form-row text-center">
                    <div class="form-group ">
                        <form class="form-signin">
                            {% if error %}
                            <br><br><br>
                            {{ error }}
                            <br>
                            {% endif %}
                            <h1 class="h2 mb-3 font-weight-normal">Login</h1>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
                            <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
        
{% endblock %}