{% extends 'base.html' %}
{% load static %}

<link href="signin.css" rel="stylesheet">

{% block content %}

<main class="p-5 bg-light" role="main">
    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <form method="POST" action="{% url 'signin' %}">{% csrf_token %}
                <div class="form-row text-center">
                    <div class="form-group ">
                        <form class="form-signin">
                        
                        {% if error %}
                        <br><br><br>
                        {{ error }}
                        <br>
                        {% endif %}

                            <h1 class="h2 mb-3 font-weight-normal">Please sign in</h1>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            {% comment %} <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                                </div>
                                <input name="egg" type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" required>
                            </div> {% endcomment %}
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword" class="sr-only">Confirm Password</label>
                            <input name="password1" type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
        
{% endblock %}