{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="pt-5 bg-light" role="main">
        <div class="album container">
            <h1 class="pt-3 text-center">Welcome to Lucas Blog!</h1>
            <br>
            <h4>Latest Posts</h4>
            <form class="form-inline my-1 my-lg-0">
                <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-secondary my-1 my-sm-0" type="submit">Search</button>
            </form>
            <hr>
        </div>

        <div class="album py-5 bg-light pt-5">
            <div class="container">
                <div class="row">
                    <div class="card-columns rounded">
                    {% for blog in blogs.all %}
                        <a href="{% url 'post' blog.id %}" class="text-muted">
                            <div class="card small text-justify">
                                <img class="card-img-top img-fluid text-dark" src="{{ blog.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">{{ blog.title }}</h6>
                                    <p class="card-text">{{ blog.summary }}</p>
                                    <p class="card-text"><small class="text-muted">{{ blog.pub_date }} | {{ blog.writer }}</small></p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}