{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="pt-5 bg-light" role="main">
        <div class="album container col-9 pt-5">
            <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
                <div class="form-group">
                    {{ form.title | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.body | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.image | as_crispy_field }}
                </div>
                <div class="text-right">
                    <button class="btn btn-sm btn-primary" type="submit" value="post it">Post It</button>
                    <a href="{% url 'blog' %}" class="btn btn-danger btn-sm" role="button" >Cancel</a>
                </div>
                <br>
            </form>
        </div>
    </main>
{% endblock %}