{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main role="main" class="bg-light">
        <section class="jumbotron text-center">
            <div class="container pt-2">
                {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}
                <h2 class="jumbotron-heading">Hello there, I'm Lucas,</h2>
                <p class="text-muted">A software developer based out of Dublin, Ireland. <br>
                Positive, authentic energy, dynamic, team worker, open to learning and prepared for the challenge of exercising new roles and activities with flexibility. I always try to keep myself updated, with the purpose of personal and professional improvement. Also, dogfather, coffeelover, and pizzalover.<br></p>
                <img class="center rounded-circle" src="{% static 'profile2.jpeg' %}" height="250" />
                <br><br>
                <p class="text-muted">Have a project, idea or problem you'd like to discuss? <strong>Let's chat!</strong></p>
                <span style="font-size: 2em">
                    <a href="https://www.facebook.com/lucas.reinaldo.779" target="_blank" title="Facebook"><i class="fab fa-facebook text-dark grow"></i></a>
                    <a href="https://github.com/LucasReinaldo" target="_blank" title="GitHub"><i class="fab fa-github text-dark grow"></i></a>
                    <a href="mailto:lucasreinaldo.demelo@hotmail.com" target="_blank" title="lucasreinaldo.demelo@hotmail.com"><i class="fas fa-envelope-open-text text-dark grow"></i></a>
                    <a href="https://www.instagram.com/lreinaldodemelo" target="_blank" title="Instagram"><i class="fab fa-instagram text-dark grow"></i></a>
                    <a href="https://www.linkedin.com/in/lucas-reinaldo-de-melo" target="_blank" title="LinkedIn"><i class="fab fa-linkedin text-dark grow"></i></a>
                </span>
            </div>
        </section>

        <div class="album py-3 bg-light">
            <div class="container">
                <div class="row">
                    {% for job in jobs %}
                    <!-- Card trigger modal -->
                    <div class="col-md-4">
                        <div class="card-deck mb-4 rounded">
                            <div class="card" data-toggle="modal" data-target="#modalCenter">
                                <img class="card-img-top" width="100%" height="200" src="{{ job.image.url }}">
                                <div class="overlay">
                                    <div class="text">
                                        <h2>See more.</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-title text-center"><small><strong>{{ job.title }}</strong></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitle">{{ job.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Summary:</strong> {{ job.summary }}</p>
                                    <p><strong>Challenges:</strong> {{ job.challenge }}</p>
                                    <p><strong>Team:</strong> {{ job.team }}</p>
                                    <p><strong>Published:</strong> {{ job.pub_date }}</p>
                                    <p><strong>Site: </strong><a href="{{ job.site }}" class="text-reset" target="_blank">{{ job.site }}</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
